@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

.container {
  padding: 30px 30px;
  border-bottom: 1px solid rgba(56, 56, 56, 0.267);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}
.navigatorBig {
  display: flex;
}
.navigatorBig a {
  margin: 0px 20px;
}

.navigator {
  display: none;
}
.navigator a {
  margin: 20px;
}
.logo {
  color: rgba(11, 14, 24, 0.623);
  font-family: "Roboto Mono", monospace;
}
.logo a {
  font-size: 19px;
  margin: 0;
}
.iconCont {
  display: none;
}
.icon {
  object-fit: contain;
}

@media screen and (max-width: 995px) {
  .container {
    padding: 20px;
  }
  .navigatorBig {
    display: none;
  }
  .navigator {
    display: none;
    position: absolute;
    flex-direction: column;
    right: 0;
    z-index: 2;
    top: 78px;
    background-color: rgb(238, 239, 252);
    width: 70vw;
    padding: 20px 40px;
    height: 90vh;
    transform: translateX(90vw);
  }
  .navigator a {
  }
  .iconCont {
    display: block;
  }
}
