@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

.container {
  padding: 30px 30px;
  border-bottom: 1px solid rgba(56, 56, 56, 0.267);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigator a {
  margin: 20px;
}
.logo {
  color: rgba(11, 14, 24, 0.623);
  font-family: "Roboto Mono", monospace;
}
.logo a {
  font-size: 19px;
  margin: 0;
}
