.profile {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: flex-end;
  font-family: monospace;
}
.image {
  margin-right: 20px;
}
.imageinner {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.details p {
  font-weight: 500;
  font-size: 17px;
  margin: 0;
  color: rgba(4, 8, 41, 0.918);
}
.details ul {
  color: rgb(28, 31, 53);
  list-style: none;
  display: flex;
  padding: 0;
}
.details ul li {
  margin: 0px 10px 10px 0;
  font-size: 14px;
  text-decoration: underline;
}
